@import '../../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
:host {
  background-image: url('images/plane.jpg');
  background-size: cover;
  height: 100%;
  position: relative;
}

h1 {
  color: white;
  text-align: center;
}

.ticket {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;

  &-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    max-width: 100%;
    padding: 20px;

    @media(max-width: 767px) {
      position: relative;

      top: 30%;
    }
  }

  @media(max-width: 768px) {
    flex-wrap: wrap;
    margin-top: 50px;
  }

  &__item {
     flex-basis: 20%;
     width: 20% !important;
     position: relative;
     &:last-child {
        @media (max-width: 768px) {
        flex-basis: 100%;
      }
    }
       &:nth-child(3) {
        @media (max-width: 768px) {
        flex-basis: 100%;
      }
    }
      &:nth-child(4) {
        @media (max-width: 768px) {
        flex-basis: 100%;
      }
     }

     @media (max-width: 768px) {
        flex-basis: 50%;
        margin-top: -1.875rem;
    }

    input {
      width: 100%;
      line-height: 1.25rem;
      padding: 0.8rem 1.125rem;
      /*color: #8f9bb3;*/
      opacity: 1;
      border: solid 1px transparent;
      border-radius: 0.25rem;
      &:hover {
        cursor: pointer;
        border: solid 1px #598bff;
      }

      @media(max-width: 768px) {
         padding: 0.8rem 0.4rem;
         text-align: center;
      }
    }
  }

  &__button {
     text-align: center;
     width: 100%;
  }
   
}

.nb-theme-default nb-base-calendar.medium nb-card {
  width: 15.875rem;
}
